@import url("https://fonts.googleapis.com/css?family=Lato:400,900");

:root{
  --primary-color: #ffffff;
  --secondary-color: #333333;
  --current-theme:#0fccce;
  --old-theme:	#f04;
}

body{
   margin:0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background: var(--primary-color);
}

#tmIcn{
  cursor:pointer;
  color: var(--secondary-color);
}

.theme-icon {
    float: right;
}

.dark-theme {
  --primary-color: #333333;
  --secondary-color: #ffffff;
}


* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.top {
     padding: 2rem;
}
.current-location{
    float: left;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: #6fd1bd;
}

.social-media{
    float: right;
    letter-spacing: 0.5rem;
    color: #6fd1bd;
}

.container {
    padding: 10% 20%;
    margin: 0 auto;
    display: inline-flex;
}

.lead{
    width:50%;
}

.lead_heading {
  font-size: 1.2em;
  font-family: Lato, Helvetica, Arial, sans-serif;
  color: var(--secondary-color);
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  display: inline-block;

}

.title-shadow {
  transition: text-shadow 0.2s ease-in-out;
}

h1:hover .title-shadow {
  text-shadow: -4px -4px 0 rgba(255, 0, 68, 0.78);
}

.lead_sub {
    -webkit-animation: slideDown 750ms both;
    animation: slideDown 750ms both;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 30px;
    text-align: justify;
    color: var(--secondary-color);
}

label.designation{
    background: var(--current-theme);
    color:var(--primary-color);
}

h3,h2{
    color: var(--secondary-color);
}

.btn-lg {
    padding: 18px 26px;
}

.btn {
    border-radius: 3.2em;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 700;
    padding: 1rem 3.2rem;
    text-decoration: none;
    color:var(--secondary-color);
    border: 1px solid var(--current-theme);
}

.btn:hover{
    background: var(--current-theme);
    color: var(--primary-color);
}

.connect-social{
    margin-top: 1em;
    display: inline-flex;
    margin-left: -0.6em;
}

.socials_link {
    color:var(--secondary-color);
    text-decoration: none;
    font-size: 0.8em;
    border-radius: 5em;
    padding: 1em;
    text-align: center;
    margin-left: 10px;
    width: 45px;
    height: 45px;
    border: 1px solid var(--current-theme);
}

a.socials_link:hover {
    background: var(--current-theme);
    color: var(--primary-color);
}

.main-picture{
    width: 20em;
    height: 20em;
    padding: 0.5em;
    border-radius: 10em;
    margin-left: 2em;
}

.experience-container{
    padding: 2% 20%;
    margin: 0 auto;
}

.timeline_item {
    -webkit-animation: slideUp 750ms both;
    animation: slideUp 750ms both;
    border: 1px solid #eaeaea;
    border-top: 2px solid var(--current-theme);
    color: var(--secondary-color);
    display: inline-block;
    font-size: 0.8rem;
    padding: 2em;
    position: relative;
    vertical-align: top;
    width: 50em;
}

.experience_header {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #eaeaea;
}

.skills-container{
    padding: 2% 20%;
    margin: 0 auto;
}

.skill-chip{
    border-radius: 10em;
    margin: 1%;
    font-size: 1em;
    font-weight: 500;
    padding: 5px 25px;
    border: 1px solid var(--current-theme);
    height: 2em;
    text-align: justify;
    color: var(--secondary-color);
}

span.skill-chip:hover{
    background-color: var(--current-theme);
    color: var(--primary-color);
}

.skill-item{
	display:inline-flex;
}

.contact-container {
    padding: 5% 0%;
    margin: 0 auto;
}

.footer {
   /*background: var(--secondary-color);*/
    border-top: 1px solid var(--secondary-color);
    width:100%;
}

.profile-footer{
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
}

.end-footer{
    font-size: 0.8rem;
    color: var(--current-theme);
    padding: 3%;
}

.content-left{
  color: var(--secondary-color);
}


/*------Scroll button------*/
#scroll {
    position: fixed;
    right: 1%;
    bottom: 1%;
    cursor: pointer;
    width: 3em;
    height: 3em;
    background-color:var(--current-theme);
    color:var(--primary-color);
    display:none;
    -webkit-border-radius:3em;
    -moz-border-radius:3em;
    border-radius:3em;
    text-align: center;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s; /* Safari */
    transition: width 1s, height 1s, transform 1s;
}

#scroll:hover {
    background-color:var(--current-theme);
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
}

i.fa-arrow-up{
    vertical-align: middle;
    margin-top: 1em;
    font-size: 1em;
}

.content-right{
    text-align: center;
    margin:0;
}

/*-----------------------*/
.wrapper {
    height: 25em;
    width: 45em;
    background-color: var(--primary-color);
    border-radius: 24px;
    overflow: hidden;
    border: 1px solid #eee;
    margin-left: 2em;
    margin-top: 2em;
}

.header {
  width: 100%;
  background-size: cover;
  background-position: center;
  color: var(--primary-color);
  text-align: center;
}

.ct-us {
    margin: 0;
    padding: 25px 25px 10px;
    font-weight: 300;
    font-size: 35px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 8px auto;
  width: 76%;
}

h4 {
  color: var(--secondary-color);
  margin: 16px 0 6px;
  font-size: 16px;
  letter-spacing: 1px;
  
}

input,
textarea {
  border: solid 1px #cbcbcb; 
  border-radius: 6px;
  width: 92%;
  padding: 6px 12px;
  outline: none;
}

input {
  height: 3em;
}

textarea {
  height: 62px;
}

.submit {
    height: 42px;
    width: 60%;
    margin: 24px auto;
    border-radius: 6px;
    border: none;
    color: var(--primary-color);
    background: linear-gradient(to left bottom, #ff0044, rgb(255 0 68 / 78%));
    cursor: pointer;
}

/*--------Scroll Down-------*/

@media (min-width: 640px)
.scroll-down {
    animation: scrollDown 0.5s ease-in-out 3s infinite alternate;
}
.scroll-down {
    position: relative;
    font-size: 1.5em;
    opacity: 1;
    display: inline-block;
    color: #ff0044;
    -webkit-animation: bounce 3s infinite ease;
    animation: bounce 3s infinite ease;
    cursor: pointer;
}

.down-container {
    margin-left: 50%;
    margin-top:-5em;
}

.scroll-down:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

a.comp_link {
    text-decoration: none;
    color: #ff0044bf;
}

@-webkit-keyframes bounce {
    0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
    80% { -webkit-transform: translateY(-10px); }
}

/*-----For Mobile devices-----*/
@media only screen and (max-width: 600px) {
	.footer {
		background-color: var(--secondary-color);
		color: var(--primary-color);
		width:52em;
	}
	.down-container {
		margin-left: 110%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	
}

    
}
